.header {
   padding: 1em;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.left-side {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.title {
   font-size: 2.2rem;
   margin: 0;
}

.sub-title {
   font-size: 1.5rem;
   color: hsl(0, 59%, 31%);
}

.header-img {
   max-width: 700px;
   border-radius: 1em;
}

.muscle-card-container {
   padding: 1em;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 120px));
   justify-content: center;
   gap: 2em;
}

.muscle-card, .exercise-card {
   padding: 1em;
   text-decoration: none;
   color: hsl(0, 0%, 0%);
   background-color: hsl(0, 0%, 100%);
   box-shadow: 0 0 5px 1px hsl(0, 0%, 50%);
   border-radius: .3em;
   transition: 100ms box-shadow ease-in-out;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.muscle-card:hover, .exercise-card:hover {
   box-shadow: 0 0 10px 1px hsl(0, 0%, 50%);
}

.muscle-card > img, .exercise-card > img {
   max-width: 100px;
}

.muscle-card > p {
   font-size: 1.2rem;
}

.no-exercises {
   text-align: center;
   margin-top: 7em;
   font-size: 2rem;
   color: hsl(0, 0%, 50%);
}

.exercise-heading {
   text-align: center;
   font-size: 1.8rem;
}

.exercise-card-container {
   padding: 1em;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
   justify-content: center;
   gap: 1em;
}

.exercise-name {
   font-size: 1.2rem;
}

.exercise-detail {
   padding: 1em;
   margin: auto;
   max-width: 700px;  
}

.name {
   font-size: 1.3rem;
   text-align: center;
}

.bold-text {
   font-weight: bold;
}

.instructions > li {
   line-height: 2em;
 }

@media (max-width: 1000px) {
   .header-img {
      display: none;
   }
}

